apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

namespace: auth

resources:
  - deployment.yaml
  
configMapGenerator:
  - name: auth-generated-config
    literals:
      - ENVIRONMENT=prod
      - DEPLOYMENT_ENVIRONMENT=production
      - GOTRUE_JWT_EXP=3600
      - GOTRUE_JWT_AUD=authenticated
      - GOTRUE_JWT_DEFAULT_GROUP_NAME=authenticated
      - GOTRUE_JWT_ADMIN_ROLES=supabase_admin,service_role
      - GOTRUE_DB_DRIVER=postgres
      - DB_NAMESPACE=auth
      - DB_PORT=5432
      - DB_HOST=localhost
      - DB_NAME=postgres_auth
      - API_EXTERNAL_URL=https://solomon-auth.com/
      - GOTRUE_API_HOST=0.0.0.0
      - PORT=9999
      - DB_USER=auth_admin
      - GOTRUE_DISABLE_SIGNUP=false
      - GOTRUE_SITE_URL=https://solomon-auth.com/
      - GOTRUE_EXTERNAL_EMAIL_ENABLED=false
      - GOTRUE_EXTERNAL_PHONE_ENABLED=false
      - GOTRUE_EXTERNAL_IOS_BUNDLE_ID=com.supabase.auth
      - GOTRUE_EXTERNAL_GOOGLE_ENABLED=true
      - GOTRUE_EXTERNAL_GOOGLE_REDIRECT_URI=https://solomon-auth.com/auth/callback
      - GOTRUE_EXTERNAL_ANONYMOUS_USERS_ENABLED=false
      - GOTRUE_EXTERNAL_FLOW_STATE_EXPIRY_DURATION=300s
      - GOTRUE_SMS_AUTOCONFIRM=false
      - GOTRUE_SECURITY_CAPTCHA_ENABLED=false
      - GOTRUE_EXTERNAL_SAML_ENABLED=false
      - GOTRUE_LOG_LEVEL=info
      - GOTRUE_RATE_LIMIT_HEADER=X-Forwarded-For
      - GOTRUE_RATE_LIMIT_EMAIL_SENT=0
      - GOTRUE_PASSWORD_MIN_LENGTH=8
      - GOTRUE_PASSWORD_REQUIRED_CHARACTERS=
      - GOTRUE_SECURITY_REFRESH_TOKEN_ROTATION_ENABLED=true
      - GOTRUE_SECURITY_REFRESH_TOKEN_REUSE_INTERVAL=0
      - GOTRUE_HOOK_CUSTOM_ACCESS_TOKEN_ENABLED=false
      - GOTRUE_HOOK_CUSTOM_SMS_PROVIDER_ENABLED=false