apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

resources:
  - ../../base
  - ingress.yaml

namespace: auth

namePrefix: dev-

patches:
  - path: patch.yaml

labels:
- pairs:
    environment: dev
    tier: dev
  includeSelectors: true

configMapGenerator:
  - name: auth-generated-config
    behavior: merge
    literals:
      - ENVIRONMENT=dev
      - DEPLOYMENT_ENVIRONMENT=development
      - GOTRUE_LOG_LEVEL=debug
      - DB_NAME=postgres_auth_dev
