apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

resources:
  - ../../base
  - ingress.yaml

namespace: auth

patchesStrategicMerge:
  - patch.yaml

labels:
- pairs:
    environment: dev
    tier: dev
  includeSelectors: true
