apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

resources:
  - ../../base

namespace: auth

patches:
  - path: patch.yaml

labels:
- pairs:
    environment: dev
    tier: dev
  includeSelectors: true
