apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

resources:
  - ../../base
  - ingress.yaml

namespace: solomon

namePrefix: dev-

patches:
  - path: patch.yaml

labels:
- pairs:
    environment: dev
    tier: dev
  includeSelectors: true

configMapGenerator:
  - name: auth-generated-config
    behavior: merge
    literals:
      - GOTRUE_LOG_LEVEL=debug
      - DB_NAME=postgres_auth_dev
      - API_EXTERNAL_URL=https://dev.solomon-auth.com/
      - GOTRUE_SITE_URL=https://dev.solomon-auth.com/
      - GOTRUE_EXTERNAL_GOOGLE_REDIRECT_URI=https://dev.solomon-auth.com/auth/callback
      - GOTRUE_URI_ALLOW_LIST=http://localhost:5173/*