apiVersion: v1
kind: ConfigMap
metadata:
  name: auth-config
  namespace: auth
data:
  # JWT Configuration
  GOTRUE_JWT_EXP: "3600"
  GOTRUE_JWT_AUD: "authenticated"
  GOTRUE_JWT_DEFAULT_GROUP_NAME: "authenticated"
  GOTRUE_JWT_ADMIN_ROLES: "supabase_admin,service_role"
  
  # Database Configuration
  GOTRUE_DB_DRIVER: "postgres"
  DB_NAMESPACE: "auth"
  DB_PORT: "5432"
  DB_HOST: "localhost"
  DB_NAME: "postgres_auth"
  
  # API Configuration
  API_EXTERNAL_URL: "https://solomon-auth.com/" # Updated to domain name
  GOTRUE_API_HOST: "0.0.0.0"
  PORT: "9999"

  # Database Users
  DB_ADMIN: "auth_admin"
  
  # Signup Configuration
  GOTRUE_DISABLE_SIGNUP: "false"
  GOTRUE_SITE_URL: "https://solomon-auth.com/" # Updated to domain name
  GOTRUE_EXTERNAL_EMAIL_ENABLED: "false"
  GOTRUE_EXTERNAL_PHONE_ENABLED: "false"
  GOTRUE_EXTERNAL_IOS_BUNDLE_ID: "com.supabase.auth"
  # GOTRUE_URI_ALLOW_LIST: "https://solomon-auth.com:3000" # Updated to domain name
  
  # OAuth Configuration
  GOTRUE_EXTERNAL_GOOGLE_ENABLED: "true"
  GOTRUE_EXTERNAL_GOOGLE_CLIENT_ID: "59413000494-dlrcgs6btub8oamochbqjd64su5v2s3a.apps.googleusercontent.com"
  GOTRUE_EXTERNAL_GOOGLE_REDIRECT_URI: "https://solomon-auth.com/auth/callback" # Updated to domain name
  
  # Anonymous auth config
  GOTRUE_EXTERNAL_ANONYMOUS_USERS_ENABLED: "false"

  # PKCE Config
  GOTRUE_EXTERNAL_FLOW_STATE_EXPIRY_DURATION: "300s"

  # Phone provider config
  GOTRUE_SMS_AUTOCONFIRM: "false"

  # Captcha config
  GOTRUE_SECURITY_CAPTCHA_ENABLED: "false"

  # SAML config
  GOTRUE_EXTERNAL_SAML_ENABLED: "false"

  # Additional Security config
  GOTRUE_LOG_LEVEL: "info"
  GOTRUE_RATE_LIMIT_HEADER: "X-Forwarded-For"
  GOTRUE_RATE_LIMIT_EMAIL_SENT: "0"
  GOTRUE_PASSWORD_MIN_LENGTH: "8"
  GOTRUE_PASSWORD_REQUIRED_CHARACTERS: ""
  GOTRUE_SECURITY_REFRESH_TOKEN_ROTATION_ENABLED: "true"
  GOTRUE_SECURITY_REFRESH_TOKEN_REUSE_INTERVAL: "0"


  # Auth Hook Configuration
  GOTRUE_HOOK_CUSTOM_ACCESS_TOKEN_ENABLED: "false"

  GOTRUE_HOOK_CUSTOM_SMS_PROVIDER_ENABLED: "false"
